p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.kys {
    font-family: Arial;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.dead {
    font-family: Courier;
    text-align: center;
    font-weight: bold;
    margin-top: 5px;
}

.ra {
    font-family:'Arial';
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    background-color: aqua;
    padding-top: 10px;
    padding-bottom: 10px;
}

.span:hover {
    text-decoration: underline;
    cursor: pointer;
    
}